

#app {
  margin: 0 auto;
  background: #fff;
  height: 100%;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}
