{
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-vue-jsx",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
